* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.div1 {
    background-color: #F0F8FE;
    height: 100vh;
    width: 100%;
}

.btn2 {
    background-color: #ed6a5a;
    border: none;
    color: white;
    padding: 7px 12px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: -39px;
    right: 1px;
    border-radius: 0px 4px 4px 0px;
}

ul {
    list-style-type: none;
    padding: 15px 0px;
}

#main {
    width: 25%;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 20px gray;
    background-color: #ffff;
}

li {
    padding: 10px 15px;
    margin: 8px 0px;
    border: 2px solid #58558e;
    border-radius: 5px;
    background-color: #808686cc;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #ffff;
}

header {
    background-color: #58558e;
    color: white;
    padding: 15px 0px;
    text-align: center;
}

.dragging>p {
    opacity: 0;
}
p{
    margin-bottom: 0;
}